[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap4 = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
django-tinymce = "==2.8.0"
Django = ">=2.2.13"
whitenoise = "*"
django-forgiving-collectstatic = "*"
django-allauth = "*"
python-decouple = "*"
django-google-analytics-app = "*"
pygal = "*"
django-debug-toolbar = "*"

[dev-packages]
django-debug-toolbar = "*"
pylint = "*"

[packages.django-anymail]
extras = [ "mailgun",]
version = "*"
