[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap4 = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
django-tinymce = "==3.4.0"
whitenoise = "*"
django-forgiving-collectstatic = "*"
django-allauth = "*"
python-decouple = "*"
django-google-analytics-app = "*"
pygal = "*"
django-debug-toolbar = "*"
django-ninja = "*"
django = "==3.2.11"

[dev-packages]
django-debug-toolbar = "*"
pylint = "*"

[packages.django-anymail]
extras = [ "mailgun",]
version = "*"
