{% extends 'base.html' %}

{% block title %}
    @{{ currentuser.username }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <img src="{{ currentuser.gravatar }}" />

        <h3>@{{ currentuser.username }}</h3>
        <p><strong>{{ currentuser.first_name }} {{ currentuser.last_name }}</strong></p>
        <p>{{ currentuser.bio | safe }}</p>

        {% if is_viewing_self %}
            <a href="{% url 'edit_profile' %}">Edit</a>

        {% endif %}
    </div>

    <div class="col-md-9">
      {% if is_viewing_self %}
      <h4>User Prompts</h4>
      <form id="promptForm" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Save</button>
      </form>
      {% else %}
      <h4>Shared User Prompts</h4>
      {% endif %}
      {% for prompt in currentuserprompts %}
      <p>{{ prompt.text }}</p>
      {% endfor %}
    </div>
</div>
{% endblock %}
