{% extends 'base.html' %}

{% block title %}
    @{{ currentuser.username }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <img src="{{ currentuser.gravatar }}" />

        <h3>@{{ currentuser.username }}</h3>
        <p><strong>{{ currentuser.first_name }} {{ currentuser.last_name }}</strong></p>
        <p>{{ currentuser.bio | safe }}</p>

        {% if is_viewing_self %}
            <a href="{% url 'edit_profile' %}">Edit</a>

        {% endif %}
    </div>

    <div class="col-md-9">
      {% if is_viewing_self %}
      <h4>User Prompts</h4>
      <form id="promptForm" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Create Prompt</button>
      </form>
      {% else %}
      <h4>Shared User Prompts</h4>
      {% endif %}
      <br>
      <div class="shared-prompts">
        <ul class="list-group list-group-flush">
        {% for prompt in currentuserprompts %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ prompt.text }}
              <ul class="list-inline">
                {% if request.user == currentuser %}
                <li class="list-inline-item badge badge-primary">
                  <a data-toggle="modal" data-target="#modalPrompt{{ prompt.id }}">
                  edit
                  </a>
                  {% include "snippets/edit_prompt_modal.html" %}
                </li>
                <li class="list-inline-item badge badge-primary">
                  <a href="/account/delete-prompt/{{ prompt.id }}/">
                  delete
                  </a>
                </li>
                <li class="list-inline-item badge badge-primary">
                  <a href="/account/public-toggle/{{ prompt.id }}/">
                  {% if prompt.public == True %}
                  public
                  {% else %}
                  private
                  {% endif %}
                  </a>
                </li>
                {% else %}
                <li class="list-inline-item badge badge-primary">
                  <a href="/account/downvote-prompt/{{ prompt.id }}/">
                  downvote
                  </a>
                </li>
                <li class="list-inline-item badge badge-primary">
                  <a href="/account/upvote-prompt/{{ prompt.id }}/">
                  upvote
                  </a>
                </li>
                {% endif %}
                <li class="list-inline-item badge badge-primary">
                  <a href="{% url 'prompt' %}">
                  write
                  </a>
                </li>
              </ul>
            <span class="badge badge-primary badge-pill">{{ prompt.upvotes }}</span>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
</div>
{% endblock %}
