{% extends 'base.html' %}

{% block title %}
    Users
{% endblock title %}

{% block content %}

{% for user in users %}
<div class="card mb-3 mx-auto" style="max-width: 550px; max-height: 225px;">
  <div class="row no-gutters">
    <div class="col-md-3">
      <a href="{% url 'view_profile' user.username %}">
        <img src="{{ user.gravatar }}" />
        <h6 class="card-title text-left">@{{ user.username }}</h6>
      </a>
    </div>
    <div class="col-sm-8 col-lg-8">
      <div class="card-body">
        <p class="card-text">{{ user.allprompts.all.0.text }} <span class="badge badge-primary badge-pill">{{ user.allprompts.all.0.upvotes }}</span></p>
        <p class="card-text"><small class="text-muted">{{ user.allprompts.all.0.revised }}</small>

        </p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
