{% extends 'base.html' %}

{% block title %}
    Users
{% endblock title %}

{% block content %}
<h4 class="text-center">Collaborators</h4>
{% for user in users %}
<div class="card mb-3 mx-auto" style="max-width: 550px; max-height: 225px;">
  <div class="row no-gutters">
    <div class="col-md-3">
      <a href="{% url 'view_profile' user.username %}">
        <img src="{{ user.gravatar }}" />
        <h6 class="card-title text-left">@{{ user.username }}</h6>
      </a>
    </div>
    <div class="col-sm-8 col-lg-8">
      <div class="card-body">
        {% if user.allprompts.all.0.upvotes == -100 %}
          <p class="card-text">User hasn't submitted any prompts.</p>
        {% else %}
          <p class="card-text">{{ user.allprompts.all.0.text|default:"User hasn't submitted any prompts." }}</p>
          <p class="card-text"><small class="text-muted">{{ user.allprompts.all.0.revised }}</small>
            <span class="badge badge-primary badge-pill">{{ user.allprompts.all.0.upvotes }}</span>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% if users.has_other_pages %}
<nav aria-label="page navigation">
  <ul class="pagination justify-content-center">
    {% if users.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}
