{% load static %}
{% load google_analytics_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155308405-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155308405-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <!-- iOS web app, delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"
    <meta http-equiv="cleartype" content="on">
    <title>
        {% block title %}
            Prompt Me
        {% endblock title %}
    </title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Prompt Me">
    <meta name="description" content="A web service to help generate creative writing.">
    <meta name="author" content="Kevin Dublin">
    <link rel="icon" type="image/ico" href="{% static 'icons/favicon.ico' %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <!-- CSS for bootstrap -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Bootstrap backup from CDN for iOS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--custom CSS for sign sign in form -->
    <link href="{% static 'css/signinform.css' %}" rel="stylesheet" type="text/css">
    <!-- Animate CSS library -->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css">
    <!-- custom CSS for feedback queue -->
    <link href="{% static 'css/feedbackq.css' %}" rel="stylesheet" type="text/css">
        <!-- custom CSS for icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- final override CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">

    <!--Tinymce Text-Editor -->
    <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tinymce/custom.js' %}" ></script>
  </head>

<body>

<nav class="navbar sticky-top navbar-expand-md">
    <div class="container">
        {% if request.user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'dashboard' %}">
        {% else %}
        <a class="navbar-brand" href="/">
        {% endif %}
            <!-- Do I want a logo? -->
            Prompt Me
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                ☰
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feedbackq' %}">Feedback Queue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'prompt' %}">Write</a>
                </li>
              {% else %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'about' %}">About</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'home' %}#how-it-works">How it Works</a>
                    <a class="dropdown-item" href="{% url 'home' %}#pricing-plan">Pricing</a>
                  </div>
                </li>
              {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_all_users' %}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://forms.gle/YEBbFq7HRek9ugjQ7">Survey</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" >Sign Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_profile' request.user %}" >
                            {{ request.user }}
                            <img src="{{ user.gravatar }}" class="navbar-avatar" />
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a id="log-in-link" class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a id="log-in-link" class="nav-link" href="{% url 'signup' %}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
          </div>

        </div>
    </nav>
{% block main %}
    <div class="container pt-2">

      {# Enable Django's "messages" system #}
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message | safe }}
              </div>
          {% endfor %}
      {% endif %}

      {% block content %}

      {% endblock content %}

    </div>
{% endblock main %}
      <!-- Footer or Dock -->
    <footer class="container">
      <p class="float-right"><a href="{% url 'contact' %}">Contact Us</a> | <a href="#">Back to top</a></p>
      <p>© 2023 Prompt Me | <a href="{% url 'privacy' %}">Privacy</a> | <a target="_blank" href="https://app.termly.io/document/terms-of-use-for-saas/428728f2-abbc-420f-bebc-097c36d50578">Terms</a></p>
    </footer>

      <!-- Backup bootstrap JS cdn -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- local bootstrap -->
      <script src="{% static 'js/bootstrap/jquery-3.4.1.min.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
      <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
  </body>
</html>
