{% extends "base.html" %}
{% load static %}

{% block title %}
    Prompt Me
{% endblock title %}


{% block content %}
<div class="row featurette">
  <div class="col-md-12 justify-content-center">
    <div style="padding:55.87% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/374123760?loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <div style="padding:55.87% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/374123760?loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
  <div class="col-md-5 ">
    <h4 class="featurette-heading">Prompt Me Account</h4>
    <p class="lead">After you've signed up, begin writing from the dashboard.
      As you write, a new word will appear each minute to your left (or just above on mobile).
      Integrate the word  before the next one appears. You are able to pause the timer. However,
      you will not be able to write again until you press resume. Once you've finished writing,
      you can save your new piece and edit from the dashboard.
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5">
    <h4 class="featurette-heading">Write a Draft</h4>
    <p class="lead">After you've signed up, begin writing from the dashboard.
      As you write, a new word will appear each minute to your left (or just above on mobile).
      Integrate the word  before the next one appears. You are able to pause the timer. However,
      you will not be able to write again until you press resume. Once you've finished writing,
      you can save your new piece and edit from the dashboard.
    </p>
  </div>
  <div class="col-md-7">
    <div style="padding:55.87% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/374123760?loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <div style="padding:55.87% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/374123760?loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
  <div class="col-md-5 ">
    <h4 class="featurette-heading">Feedback Queue</h4>
    <p class="lead">After you've signed up, begin writing from the dashboard.
      As you write, a new word will appear each minute to your left (or just above on mobile).
      Integrate the word  before the next one appears. You are able to pause the timer. However,
      you will not be able to write again until you press resume. Once you've finished writing,
      you can save your new piece and edit from the dashboard.
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5 ">
    <h5 class="featurette-heading">Write & Share Prompts</h5>
    <p class="lead">After you've signed up, begin writing from the dashboard.
      As you write, a new word will appear each minute to your left (or just above on mobile).
      Integrate the word  before the next one appears. You are able to pause the timer. However,
      you will not be able to write again until you press resume. Once you've finished writing,
      you can save your new piece and edit from the dashboard.
    </p>
  </div>
  <div class="col-md-7">
    <div style="padding:55.87% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/374123760?loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
</div>

<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-12 justify-content-center">
  <img src="{% static 'images/home_write.png' %}" width="100%"/>
  </div>
</div>
<hr class="featurette-divider">


{% endblock content %}
