{% extends "base.html" %}
{% load static %}


{% block title %}
    Prompt Me - Contact
{% endblock title %}


{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="form-wrapper">
        <form>
          <!-- inputs -->
          <div class="form-group">
            <label class="sr-only" for="name">Name</label>
            <div class="input-group">
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="email">Email</label>
            <div class="input-group">
              <input type="text" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="subject">Subject</label>
            <div class="input-group">
              <input type="text" class="form-control" id="subject" placeholder="Subject">
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="message">Message</label>
            <textarea class="form-control" id="message" rows="6" placeholder="Message"></textarea>
          </div>
          <!-- buttons -->
          <div class="btn-group pull-right" role="group">
            <button type="reset" class="btn btn-default">
              Reset
            </button>
            <button type="submit" class="btn btn-primary submit">
              <i class="material-icons" aria-hidden="true">send</i> Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<hr class="featurette-divider">


{% endblock content %}
