{% extends "base.html" %}
{% load static %}


{% block title %}
    Prompt Me - Contact
{% endblock title %}


{% block content %}
<div class="header px-3 py-3 pt-5 pb-5 mx-auto text-center">
    <h5 class="display-4">Contact Us</h5>
    <p class="lead text-muted text-center">We love to hear from our users. Message us here and sign up for our newsletter.</p>
    <iframe id="mail-list" width="49%" height="250" src="https://howtobeawriter.substack.com/embed" frameborder="0" scrolling="no"></iframe>
</div>
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="form-wrapper">
        <form id="contactForm" action="/contact/" method=POST>
          {% csrf_token %}
          {{ form.as_p }}
          <!-- buttons -->
          <div class="btn-group form-btn" role="group">
            <button type="reset" class="btn btn-default">
              Reset
            </button>
            <button type="submit" class="btn btn-primary submit">
              <i class="material-icons" aria-hidden="true">send</i> Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<hr class="featurette-divider">


{% endblock content %}
