{% extends "base.html" %}

{% block title %}
    Prompt Me - Dashboard
{% endblock title %}


{% block content %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">User Feed</h1>
      <p class="lead text-muted">This is where users can edit the drafts of their saved work.</p>
      <p>
        <a href="/prompt/" class="btn btn-primary my-2">Write</a>
        <a href="#" class="btn btn-secondary my-2">Read Others</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for draft in user_drafts %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Prompt Image</text></svg>
            <div class="card-body">
              <p class="card-title"> {{ draft.prompt }} </p>
              <p class="card-text"> {{ draft.text|truncatechars:50 }} </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal{{ draft.id }}">
                      <i class="material-icons">launch</i>
                  </button>
                  {% include "snippets/preview_draft_modal.html" %}
                  <a href="/delete-draft/{{ draft.id }}/" class="btn btn-link">
                    <i class="material-icons">delete</i>
                  </a>
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modaltwo{{ draft.id }}">
                      <i class="material-icons">edit</i>
                  </button>
                  {% include "snippets/edit_draft_modal.html" %}
                </div>
                <small class="text-muted"> {{ draft.revised }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>

{% endblock content %}
