{% extends "base.html" %}

{% block title %}
    Prompt Me - Dashboard
{% endblock title %}


{% block content %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Draft Feed</h1>
      <p class="lead text-muted">Preview, edit, or delete your drafts as well as view feedback or add/remove them to the queue.</p>
      <p>
        <a href="{% url 'prompt' %}" class="btn btn-primary my-2">Write</a>
        <a href="{% url 'feedbackq' %}" class="btn btn-secondary my-2">Read Others</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for draft in user_drafts %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg width="100%" height="225" preserveAspectRatio="xMidYMid slice" role="img" aria-label="Image with Draft"><title>Draft Image</title><image width=100% height=100% xlink:href={{ draft.image }}></image></svg>
            <div class="card-body">
              <p class="card-title"> {{ draft.prompt }} </p>
              <p class="card-text"> {{ draft.text| safe | truncatechars:50 }} </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal{{ draft.id }}">
                      <i class="material-icons">launch</i>
                  </button>
                  {% include "snippets/preview_draft_modal.html" %}
                  <a href="/delete-draft/{{ draft.id }}/" class="btn btn-link">
                    <i class="material-icons">delete</i>
                  </a>
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modaltwo{{ draft.id }}">
                      <i class="material-icons">edit</i>
                  </button>
                  {% include "snippets/edit_draft_modal.html" %}
                  <!-- currently displays all feedback, will fix next -->
                  {% if draft.received_feedback == True %}
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalthree{{ draft.id }}">
                      <i class="material-icons">comment</i>
                  </button>
                  {% include "snippets/view_feedback_modal.html" %}
                  {% endif %}
                  <!--add conditional-->
                  {% if draft.in_queue == False %}
                  <a href="/send-to-queue/{{ draft.id }}/" class="btn btn-link">
                    <i class="material-icons">queue_play_next</i>
                  </a>
                  {% else %}
                  <a href="/remove-from-queue/{{ draft.id }}/" class="btn btn-link">
                    <i class="material-icons">remove_from_queue</i>
                  </a>
                  {% endif %}
                </div>
                <br>
                <small class="text-muted"> {{ draft.revised }}</small>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p>You haven't written anything. You should write now. :)</p>
        {% endfor %}
      </div>
    </div>
  </div>

</main>

{% endblock content %}
