{% extends "base.html" %}

{% block title %}
    Prompt Me - Feedback Queue
{% endblock title %}

{% block content %}

<div class="header px-3 py-3 pt-5 pb-5 mx-auto text-center">
    <h3 class="display-4">Feedback Queue</h3>
</div>
<div class="the-wrapper">
    <div class="q-column">
        <div class="card draft-card">
            <h5 class="card-header">{{ queued_draft.prompt }}</h5>
            <div class="card-body">
            <p class="q-draft"> {{ queued_draft.text | safe }}</p>
            </div>
        </div>
    </div>
    <div class="q-column">
        <form action="/feedbackq/" method="POST" id="FeedbackBox">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="card survey-card">
                <h5 class="card-header">Feedback</h5>
                <div class="card-body">
                    <div id="feedbackSurvey" class="carousel slide" data-ride="carousel" data-interval="false">
                        <ol class="carousel-indicators">
                            <li data-target="#feedbackSurvey" data-slide-to="0" class="active"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="1"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="2"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="3"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="4"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="5"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="6"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="7"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="8"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="9"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="10"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="11"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="12"></li>
                            <li data-target="#feedbackSurvey" data-slide-to="13"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for field in form %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                <div class="card-box">
                                    {{ field.errors }}
                                    <h6 class="card-title text-left">{{ field.label_tag }}</h6>
                                    <span class="text-left">{{ field }}</span>
                                    {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#feedbackSurvey" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#feedbackSurvey" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <button class="submit btn btn-primary form-btn">Submit Feedback</button>
        </form>
    </div>
</div>

<hr class="featurette-divider">

      <!-- DOCK -->
<footer class="bottom-dock">
    <a href="{% url 'dashboard' %}">
    <button type="button" class="btn btn-light">
        Discard Feedback
    </button></a>

    <a href="{% url 'queue_next' %}">
    <button  type="button" class="btn btn-light">
        Next in Queue
    </button></a>

</footer>

{% endblock content %}
