{% extends "base.html" %}
{% load static %}

{% block title %}
    Prompt Me - Feedback Dashboard
{% endblock title %}

{% block content %}

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Feedback</h1>
      <p class="lead text-muted">Viewing feedback for {{ Draft.prompt }}</p>
      <p>
        <a href="{% url 'dashboard' %}" class="btn btn-primary my-2">Draft Feed</a>
        <a href="{% url 'feedbackq' %}" class="btn btn-secondary my-2">Read Others</a>
      </p>
    </div>
  </section>
</main>
<div class="album py-5 bg-light">
  <div class="container-fluid">
    <div class="row" id="chartSection">
      <div class="col-md-4">
        <div class="chart">
          <embed type="image/svg+xml" src= "{{ strengthChart|safe }}" />
        </div>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <div class="chart">
          <embed type="image/svg+xml" src= "{{ focusChart|safe }}" />
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row" id="favoriteLines">
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="card">
          <div class="card-header">
              <h5>Favorite Lines</h5>
            </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text-right">-<a href="#" class="card-link">Reader</a></p>
          </div>
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row" id="commentSection">
      <div class="col-md-4">
        <div id="summary-slider" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            {% for feedback in Draft.allfeedback.all %}
            <div class="carousel-item feedback-view {% if forloop.first %} active {% endif %}">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Summary</h5>
                  <p class="card-text">{{ feedback.summary }}</p>
                  <p class="card-text-right">-<a href="#" class="card-link">{{ feedback.reader }}</a></p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% if Draft.feedback_amount > 1 %}
          <a class="carousel-control-prev" href="#summart-slider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon3" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#summary-slider" role="button" data-slide="next">
            <span class="carousel-control-next-icon3" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-4 text-center">
        <img style="width: 50%;" src="{% static 'images/surprised.svg' %}">
        <p>EMI</p>
      </div>
      <div class="col-md-4">
        <div id="comment-slider" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            {% for feedback in Draft.allfeedback.all %}
            <div class="carousel-item feedback-view {% if forloop.first %} active {% endif %}">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Comments</h5>
                  <p class="card-text">{{ feedback.comments }}</p>
                  <p class="card-text-right">-<a href="#" class="card-link">{{ feedback.reader }}</a></p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% if Draft.feedback_amount > 1 %}
          <a class="carousel-control-prev" href="#comment-slider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon3" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#comment-slider" role="button" data-slide="next">
            <span class="carousel-control-next-icon3" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

  {% endblock content %}
