{% extends "base.html" %}

{% block title %}
    Prompt Me - Feedback Queue
{% endblock title %}

{% block content %}

<div class="header px-3 py-3 pt-5 pb-5 mx-auto text-center">
    <h3 class="display-4">Feedback Queue</h3>
</div>
<div class="the-wrapper">
    <div class="q-column">
        <div class="card draft-card">
            <h5 class="card-header">{{ queued_draft.prompt }}</h5>
            <div class="card-body">
            <p class="q-draft"> {{ queued_draft.text | safe }}</p>
            </div>
        </div>
    </div>
    <div class="q-column">
        <form method="POST" id="surveyForm">
            <div class="card survey-card">
                <h5 class="card-header">Feedback</h5>
                <div class="card-body">
                    <div id="feedbackSurvey" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card-box">
                                    <h6 class="card-title">Write a brief (50 word) summary of what you just read:</h6>
                                    <textarea rows="10" class="mceNoEditor" name="q0"></textarea>
                                </div>
                            </div>
                            {% for question in feedback_questions %}
                            <div class="carousel-item">
                                <div class="card-box">
                                    <h6 class="card-title">{{ question }}</h6>
                                    <label class="radio-inline"><input type="radio" name="q{{ forloop.counter }}">Yes</label>
                                    <label class="radio-inline"><input type="radio" name="q{{ forloop.counter }}">No</label>
                                    <label class="radio-inline"><input type="radio" name="q{{ forloop.counter }}">Somewhat</label>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="carousel-item">
                                <div class="card-box">
                                    <h6 class="card-title">How did the piece make you feel?</h6>
                                    <select name="emotional_impact">
                                     <option value="0">Indifferent</option>
                                     <option value="1">Angry</option>
                                     <option value="2">Disgusted</option>
                                     <option value="3">Happy</option>
                                     <option value="4">Sad</option>
                                     <option value="5">Amused</option>
                                     <option value="6">Surprised</option>
                                    </select>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card-box">
                                    <h6 class="card-title">What were your 3 favorite lines?</h6>
                                    <input type="text" name="fave_line1" label="Line 1:" placeholder="paste a favorite sentence, line, or phrase" /><br />
                                    <input type="text" name="fave_line2" label="Line 2:" placeholder="paste a favorite sentence, line, or phrase" /><br />
                                    <input type="text" name="fave_line3" label="Line 3:" placeholder="paste a favorite sentence, line, or phrase" />
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card-box">
                                    <h6 class="card-title">Any additional comments?</h6>
                                    <textarea rows="10" class="mceNoEditor"></textarea>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#feedbackSurvey" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#feedbackSurvey" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <button class="shadow btn btn-primary form-btn" id="btnValidate">Submit</button>
        </form>
    </div>
</div>

<hr class="featurette-divider">

      <!-- DOCK -->
<footer class="bottom-dock">
    <button type="button" class="btn btn-light">
        Discard Feedback
    </button>
    <button type="button" class="btn btn-light">
        Pause
    </button>
    <button  type="button" class="btn btn-light" form_id="surveyForm">
        Continue
    </button>

</footer>

{% endblock content %}
