/* Custom CSS goes here */

@media only screen and (max-width: 825px) {

    .card {
        width: 100vw;
    }

}

.navbar {
    background: linear-gradient(135deg, #f2f9fe 0%, #d6f0fd 100%);
}

.card-user {
    max-width: 80px;
}

.navbar-avatar {
    height: 30px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.bottom-dock {

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;

}

.prompt-card {
  height: 56.25%;
  min-height: 300px;
  width: 100%;
}

.container {
    max-width: 1280px;
}

.lead, .col-text {

   text-align: justify;
}

.drip-style {
  font-size: 16pt;
  font-weight: bold;
}
