/* Custom CSS goes here */

@media only screen and (max-width: 825px) {

    .card {
        width: 100vw;
    }

}

.navbar {
    background: linear-gradient(135deg, #f7f7f7 0%, #e9eff4 100%);
}

.card-user {
    max-width: 80px;
}

.navbar-avatar {
    height: 30px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.bottom-dock {

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;

}

.prompt-card {
  height: 56.25%;
  min-height: 300px;
  width: 100%;
}

.container {
    max-width: 1280px;
}

.lead, .col-text {

   text-align: justify;
}

.lead-pricing {

   text-align: center;
}

#wordDrip {
  margin: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.drip-style {
  font-size: 16pt;
  font-weight: bold;
}

.page-pen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fquestion {
    font-style: italic;
}

ul {
    list-style-type: none;
}

.card-box {
    padding-left: 50px;
}

.feedback-view {
    padding-left: 75px;
    padding-right: 75px;
    overflow-y: scroll;
}

.lead-in {
  padding-left: 10px;
}

.list-inline-item a {
  color: white;
}

.list-inline-item a:hover {
  cursor: pointer;
}

.list-group-item, .list-group-item:hover{
  z-index: auto;
}

.test-text {
  float: right;
}
