html {
  font-size: 2vh;
}
@media (min-width: 768px) {
  html {
    font-size: 2vh;
  }

}

 @media only screen and (max-width: 825px) {

    .card {
        width: 100vw;
    }

}

.the-wrapper {

	align-content: center;
	align-items: center;
  display: flex;
	flex-wrap: wrap;
	max-width: 1440px;
}

.the-wrapper div {
  flex: 1;
  justify-content: stretch;
  max-width: 1440px;

}

.q-column {

    align-items: stretch;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.survey-card, .draft-card {
 	  height: 100%;
  	margin: 10px;
    min-width: 220px;
  	padding: 0;

}

.draft-card {
	max-width: 35%;
}

.survey-card {

  max-height: 515px;
  max-width: 60%;
}

.qbody {
  padding-left: 5%;
  width: 70%;
}


.carousel-control-prev-icon2,
.carousel-control-next-icon2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  top: 90%;

}

.carousel-control-prev-icon2 {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}


.carousel-control-next-icon2 {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


.form-btn {
	float: right;
	margin-top: 30px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.carousel-inner > .carousel-item {
	max-height: 400px;
}

.qbox {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  width: 77%;
}

.carousel-indicators li {
  cursor: pointer;
  background-color: #eee;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
  background-color: #007bff;
}
