<!-- Modal -->
<div class="modal fade" id="modal{{ Feedback.draft }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-lg modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Feedback from {{ Feedback.reader }}:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

            <p>{{ Feedback.summary }}</p>
            <p>{{ Feedback.favorite_lines }}</p>
            <p>{{ Feedback.comments }}</p>

      </div>
    </div>
  </div>
</div>
